#audio-player {
  margin-bottom: 20px;
}

#captions {
  font-family: monospace;
  white-space: pre;
}

.highlight {
  color: red;
}

body {
  background-color: black;
  color: white;
}

#captions {
  background-color: black;
  color: white;
}
